@model PetStore.Web.ViewModels.Products.DetailsProductViewModel

@{
    ViewData["Title"] = "Successfully Undeleted Product";
}

<h1 style="text-align:center"> 
    @User.Identity.Name undelete product<br/>
    @Model.Name
</h1>
<br/>
<div class="d-grid gap-2 col-6 mx-auto">
  <input class="btn btn-dark" value="Back" onclick="history.go(-2); return false;">
</div>

