@model PetStore.Web.ViewModels.Products.ProductInputModel

@{
    ViewData["Title"] = "Successfully Added Product";
}

<h1 style="text-align:center"> 
    @User.Identity.Name added new product:<br/>
    "@Model.Name"
</h1>
<br/>
<div class="d-grid gap-2 col-6 mx-auto">
  <a class="btn btn-success" asp-action="Create">Create another product</a>
  <a class="btn btn-primary" asp-action="Products">All products</a>
</div>

