@{
    this.ViewData["Title"] = "No Product Found";
}

<h1 style="text-align:center">@this.ViewData["Title"]</h1>
<br/>
<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-info" style="float: left" asp-controller="Products" asp-action="Index">All Products</a>
    <a class="btn btn-success" style="float: right" asp-action="Index">Categories</a>          
</div>

