@{
    this.ViewData["Title"] = this.ViewBag.Message;
}

<h1 style="text-align:center">@this.ViewData["Title"]</h1>

<br/>
<div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-dark" style="font-size: 16pt;" value="Back" onclick="history.back()" />
</div>

