@{   
    ViewData["Title"] = "Successfully Operation Message";
}
<meta http-equiv="refresh" content="4; url=@Url.Action("Index", "Products")"/>

<h1 style="text-align:center"> 
    @ViewBag.Message<br/>
</h1>
<br />
<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-info" style="float: left" asp-controller="Products" asp-action="Index">All Products</a>
    <a class="btn btn-success" style="float: right" asp-controller="Categories" asp-action="Index">Categories</a>      
</div>

