@{
    ViewData["Title"] = "Successfull Operation Message";
}

<h1 style="text-align:center"> 
    @this.ViewBag.Message<br/>
</h1>
<br />
<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-primary" style="font-size: 14pt;" asp-area="" asp-controller="Products" asp-action="Index">All Products</a>
    <a class="btn btn-dark" style="font-size: 14pt;" asp-area="" asp-controller="Categories" asp-action="Index">All Categories</a>
    <a class="btn btn-secondary" style="font-size: 14pt;" asp-area="" asp-controller="Pets" asp-action="Index">All Pets</a>
</div>

