@using PetStore.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
</div>

<div class="d-flex justify-content-center container mt-3">
   <div class="card p-3 bg-white"><i class="fa fa-apple"></i>
        <div class="about-product text-center mt-2"><img src="https://media.istockphoto.com/vectors/pet-shop-on-transparent-background-vector-id1284316922?k=20&m=1284316922&s=612x612&w=0&h=SYmBfcRGv706r0TSGgpmLRS2ov4ZMNI80gN1sWuCfk8=" width="600">
        </div>
   </div>
</div>
